p {
    text-align: justify;
}

a:visited {
  color: #0b0080;
}

.button {
    white-space: nowrap;
}


.comment {
  height: 100px;  
  padding: 20px;
  border: 1px dotted yellow;
  box-sizing: border-box;
  background-color: #ffff000f;
}

.item {
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  section h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    margin: 12px 0;
    z-index: 1;
}

  section h3::after {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 4px;
    transform: translateX(-4px);
    border-radius: 3px;
    content: '';
    display: block;
    height: 50%;
    width: 100%;
    background: red;
    z-index: -1;
}

.flex-container {
  display: flex;
  background-color: #fafafa;
}

.flex-container > div {
  background-color: #ffff000f;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


.logo {
  position:fixed;
  z-index:101;
  left:50%;
  top:60px;
  margin:0 0 0 -140px;
  transform:scale(1) translate3d(0,0,11px) rotate(-7deg);
  transition:transform cubic-bezier(.92,.74,.725,1.115) .3s
 }
 body.with-dev-tools .logo {
  transform:scale(1) translate3d(150px,0,11px) rotate(-7deg)
 }
 .logo img {
  display:block;
  margin:0 auto;
  height:120px
 }
 .scrolled .logo {
  transform:translate3d(0,-93px,11px) rotate(0) scale(.42)
 }
 body.with-dev-tools.scrolled .logo {
  transform:translate3d(150px,-93px,11px) rotate(0) scale(.42)
 }
 
 .header {
  height:50px;
  background:#fff;
  border-bottom:2px solid #08314fff;
  position:fixed;
  overflow:hidden;
  top:0;
  left:0;
  right:0;
  backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(10px);
  transition:all .3s;
  transform:translate3d(0,-15px,10px);
  z-index:100
 }
 .scrolled .header {
  transform:translate3d(0,0,10px);
  background:#08314fff
 }
 _::-webkit-:host:not(:root:root),
 .scrolled .header {
  background:rgba(8,49,79,.5)
 }
 

 /*decoration*/
main {
  position: relative;
}
main:after {
  background: url('/cenarios-de-futuro/assets/logo/bg.jpg') no-repeat scroll top right;
  background-size: cover; 
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}